.left{
    float: right;
    width: 45%;
    height: 90vh;
}
.avatar{
    height: 60%;
    margin-top: 15%;
}
.beeko{
    font-size: 50px;
    width: 35%;
    margin-left: 17%;
    margin-top: 12%;
}
.info{
    font-size: 20px;
    width: 35%;
    margin-left: 17%;
}
.stack{
    font-size: 20px;
    width: 35%;
    margin-left: 17%;
    font-weight: bold;
    margin-top: 4%;
}
img{
    height: 53px;
    padding-left: 23px;
    margin-top:10px;
}